EXP_PREFIX=exp
GH_ORG_OR_USER=mikkokallio
REPO_NAME=copilot-mas
AZ_SUBSCRIPTION_ID=1c0e26b6-0fcb-4b6d-911c-2a0836275ea4
AZ_LOCATION=swedencentral
AZ_RG=exp-copilot-mas-rg
AZ_ACR=expcopilotmasacr
AZ_ACA_ENV=exp-copilot-mas-aca
AZ_WEB_APP=exp-copilot-mas-web
AZ_API_APP=exp-copilot-mas-api
RUN_SCOPE=shared
RETENTION_DAYS=30
